<div class="col-lg-4 mx-auto">
    <div class="card">
        <div class="card-header">
            Upload a Photo
        </div>
        <div class="card-body">
            <form (submit)="uploadPhoto(title, description)">
                <div class="form-group">
                    <input type="text" #title placeholder="Photos's Title" class="form-control" required>
                </div>
                <div class="form-group">
                    <textarea rows="2" #description placeholder="Photo's Description" class="form-control" required></textarea>
                </div>
                <input type="file" (change)="onPhotoSelected($event)" class="d-none" #photoInput>
                <img [src]="photoSelected || 'assets/no-image.png'" alt="No image" class="img-fluid" (click)="photoInput.click()">
                <div class="form-group p-4">
                    <button class="btn btn-primary btn-block">UPLOAD</button>
                </div>
            </form>
        </div>
    </div>
</div>
