<div class="row" *ngIf="!photo; else main_content">
    <h1>Loading...</h1>
</div>

<ng-template #main_content>
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <img [src]="'http://localhost:4000/'+photo.imagePath" class="img-fluid">
            </div>
        </div>
        <div class="col-md-7">
            <div class="card">
                <form class="card-body" (submit)="updatePhoto(title, description)">
                    <div class="form-group">
                        <input #title type="text" class="form-control" placeholder="Photo's Title" [value]= "photo.title">
                    </div>
                    <div class="form-group">
                        <textarea #description class="form-control" rows="2" placeholder="Photo's Description" [value]= "photo.description"></textarea>
                    </div>
                    <button class="btn btn-primary btn-block">UPDATE</button>
                </form>
            </div>
        </div>
    </div>
    <div class="form-group p-4">
        <button class="btn btn-danger" (click)="deletePhoto(photo._id)">DELETE</button>
    </div>
    
</ng-template>